* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: var(--font-style) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
  background: #fafafb;
}

textarea {
  border: none;
  outline: none;
  resize: none !important;
}
.custom-toast {
  max-width: 100% !important;
}

// dont change px here
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #99a0a5;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  position: absolute;
  background-color: #80868b;
  border-radius: 12px;
  width: 14px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.content {
  padding: 0 40px;
  width: calc(100vw - 248px);
  height: calc(100vh - 94px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 60px;

  @media #{$smlg-device} {
    width: calc(100vw - 100px);
  }

  @media #{$small-mobile} {
    width: calc(100vw - 80px);
    padding: 0 15px;
    padding-bottom: 50px;
  }
}
