.navbar {
  height: 94px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 30px;
  box-shadow: rgba(192, 192, 192, 0.16) 0px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$small-mobile} {
    padding: 0 15px;
  }

  .nav-input {
    @media #{$small-mobile} {
      display: none;
    }
  }

  .useImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 11px;
  }

  .username {
    font-family: var(--font-style);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #676e7e;
    font-weight: bold;
    text-transform: capitalize;
    @media #{$small-mobile} {
      display: none;
    }
  }
  .email {
    font-family: var(--font-style);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #9d9daa;
    @media #{$small-mobile} {
      display: none;
    }
  }
}
