.sidebar {
  width: 248px;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(192, 192, 192, 0.16) 4px 0px 4px;

  .logo {
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c5dd3;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    width: 248px;
    // box-shadow: rgba(192, 192, 192, 0.16) 0px 4px 4px;
  }

  .links {
    display: flex;
    padding: 0 30px;
    width: 100%;

    ul {
      width: 100%;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 60px;

        .sidebar-icons {
          width: 24px;
          height: 24px;
        }

        span {
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.2;
          text-align: left;

          &.active {
            color: #1818db;
          }
        }
      }
    }
  }
}
